# Misc
*.class
*.log
*.pyc
*.swp
.DS_Store
.history
.idea/
*.iml
*.ipr
*.iws

# VSCode
.vscode/

# Flutter/Dart
.dart_tool/
.packages
.pub/
build/
coverage/
.flutter-plugins
.flutter-plugins-dependencies

# iOS
**/ios/Flutter/.last_build_id
*.xcworkspace

# Android
/android/app/debug
/android/app/profile
/android/app/release

# Firebase
/lib/firebase_options.dart